/* Empty. Add your own CSS if you like */
.modal-backdrop {
  -webkit-transition: none;
  transition: none;
  background-color: inherit; }
  .modal-backdrop.active {
    background-color: inherit; }
    
.dark-menu, .dark-menu .item-content {
  background: #333;
  color: white;
}